table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
}

td {
  border: 1px black solid;
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.img-header{
  text-align: center;
  padding: 10px;
}

/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  top: 15;
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: white;
}

/* Control the left side */
.left {
  position: fixed;
  width: 35%;
  left: 0;
}

/* Control the right side */
.right {
  width: 65%;
  right: 0; 
  padding-left: 7%;
  padding-right: 7%
}

#columns-container {
  position:relative;
  height: 100%;
  width: 100%;
}

#footer{
  width:100%;
  height:9%;
  position:fixed;
  bottom:0;
  background-color:#343a40;
}